{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>

    <form action="/news/" method="get">
        {{ form.as_p }}
        <input type="submit" value="Показать" />
    </form>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата</td>
               <td>Превью</td>
               <td>Категория</td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.creation_time }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
               <td>{% for category in post.category.all %} {{ category }} {% endfor %}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    {% if request.GET.category %}
        <form action="subscribe" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ request.GET.category }}" name="category" />
            <input type="submit" value="Подписаться" />
        </form>
{% endif %}
{% endblock content %}
